$borderColor: black;
$borderSize: 10px;

.nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: $borderSize;
  font-size: 10px;
  text-shadow: 0 0 2px #fff;
}

.label {
  display: block;
}

.gallery {
  &.verticalScroll {
    > .img {
      display: block;
      width: 100%;
      border: $borderSize solid $borderColor;
      box-sizing: border-box;

      & + .img {
        border-top: 0;
      }
    }
  }

  &.horizontalScroll {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 0;

    > .img {
      display: inline-block;
      border: $borderSize solid $borderColor;
      height: 100%;
      box-sizing: border-box;

      & + .img {
        border-left: 0;
      }
    }
  }

  &.verticalScrollSticky {
    position: fixed;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;

    > .img {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      object-fit:contain;
      scroll-snap-align: start;
      border: $borderSize solid $borderColor;
      background-color: $borderColor;
    }
  }

  &.horizontalScrollSticky {
    position: fixed;
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 0;

    > .img {
      display: inline-block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      object-fit:contain;
      scroll-snap-align: start;
      border: $borderSize solid $borderColor;
      background-color: $borderColor;
    }
  }
}
