.nav {
  position: fixed;
  top: 20px;
}

.label {
  display: block;
}

.holder {
  &.verticalScroll {
    > .img {
      display: block;
      width: 100%;
    }
  }

  &.verticalScrollSticky {
    > .img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &.horizontalScroll {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    white-space: nowrap;

    > .img {
      height: 100%;
    }
  }

}
