.nav {
  position: fixed;
  top: 20px;
}

.label {
  display: block;
}

.gallery {


  &.verticalScroll {
    > .img {
      display: block;
      width: 100%;
    }
  }

  &.verticalScrollSticky {
    position: fixed;
    width: 100vw;
    height: 100vh;

    scroll-snap-type: y mandatory;
    overflow: scroll;

    > .img {
      display: block;
      width: 100vw;
      height: 100vh;
      object-fit:contain;
      scroll-snap-align: start;
    }
  }

  &.horizontalScroll {
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    > .img {
      height: 100vh;
    }
  }

  &.horizontalScrollSticky {
    position: fixed;
    width: 100vw;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    scroll-snap-type: x mandatory;
    overflow: scroll;

    > .img {
      display: inline-block;
      width: 100vw;
      height: 100vh;
      object-fit:contain;
      scroll-snap-align: start;
    }
  }
}
